---
---
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import 'vars';

body {
    font-size: 1.4rem;
    // max-width: 800px;
    margin: 5px 20px;
    font-family: Montserrat, sans-serif;
}
.card {
    width: 33%;
    img {
        height: 100%;
    }
}
.card-img-cont {
    overflow: hidden;
    &:hover {
        padding-top: 0px;
        transition: padding-top 0.7s ease;
        .card-img-overlay{
            display: block;
            color: #E7EAEF;
            background-color: rgba(61,64,69,0.75);
            padding: 20px;
            margin: 0;
            height: 100%;
            visibility: visible;
        }
    }
}
.card-img-overlay {
    visibility: hidden;
    transition: visibility 0s linear;
}
.detail-head {
    margin: 35px auto 0px auto;
    max-width: 79%;
}
footer {
    margin: 20px auto;
}
html {
    font-size: 62.5%;
}
i {
    font-size: 2.0rem;
    padding: 0 10px;
}
.logo {
    max-width: 50px;
    margin: 0 20px;
}
nav {
    padding: 15px;
    .nav-item {
        font-size: 2.4rem;
        margin: 0 20px;
    }
}
.post-imgs {
    max-width: 80%;
    margin: 20px auto;
    display: flex;
    flex-flow: row wrap;
    .card {
        width: 31%;
        margin: 7px;
    }
}

// @include media-breakpoint-up(sm) { ... }
// @include media-breakpoint-up(md) { ... }
// @include media-breakpoint-up(lg) { ... }
// @include media-breakpoint-up(xl) { ... }