---
---
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import 'vars';

body {
    font-size: 1.4rem;
    // max-width: 800px;
    margin: 5px 20px;
}
.card {
    width: 33%;
}
.card-img-cont {
    width: 100%;
    height: 240px;
    overflow: hidden;
}
.card-img-top {
    min-width: 100%;
}
html {
    font-size: 62.5%;
    font-family: 'Montserrat';
}
nav {
    .nav-item {
        font-size: 2.4rem;
    }
}