---
---
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import 'vars';

body {
    font-size: 1.4rem;
    // max-width: 800px;
    margin: 5px 20px;
    font-family: Montserrat, sans-serif;
}
.card {
    &:hover img{
        filter: none;
    }

    img {
        height: 150%;
        width: 180%;
        margin: -25% -35%;
        filter: grayscale(100%);
        transition: all 0.2s ease-in;
        &.detail {
            margin: 0 auto;
            width: 100%;
            height: auto;
            filter: none;
        }
    }
}
.card-img {
    height: 150%;
    width: 200%;
    margin: -25% -50%;
}
.card-img-cont {
    overflow: hidden;
    height: auto;
    width: 33%;
    &:hover {
        padding-top: 0px;
        transition: padding-top 0.7s ease;
        .card-img-overlay{
            display: block;
            color: #E7EAEF;
            @include random-color();
            padding: 20px;
            margin: 0;
            height: 100%;
            visibility: visible;            
        }
        .one {
            background-color: rgba(map-get($colors, 1), $alpha: 0.75)
        }
        .two {
            background-color: rgba(map-get($colors, 2), $alpha: 0.75)
        }
        .three {
            background-color: rgba(map-get($colors, 3), $alpha: 0.75)
        }
        .four {
            background-color: rgba(map-get($colors, 4), $alpha: 0.75)
        }
    }
}
.card-img-overlay {
    visibility: hidden;
    transition: visibility 0s linear;
}
.detail-head {
    margin: 35px auto 0px auto;
    max-width: 79%;
}
footer {
    margin: 80px auto 40px auto;
}
h1.one { color: map-get($colors, 1); }
h1.two { color: map-get($colors, 2); }
h1.three { color: map-get($colors, 3); }
h1.four { color: map-get($colors, 4); }
html {
    font-size: 62.5%;
}
i {
    font-size: 2.0rem;
    padding: 0 10px;
}
.logo {
    max-width: 50px;
    margin: 0 20px;
}
nav {
    padding: 30px;
    .nav-item {
        font-size: 2.4rem;
        margin: 0 60px;
    }
}
.post-imgs {
    max-width: 80%;
    margin: 20px auto;
    display: flex;
    flex-flow: row wrap;
    .card {
        width: 31%;
        margin: 7px;
    }
}

// @include media-breakpoint-up(sm) { ... }
// @include media-breakpoint-up(md) { ... }
// @include media-breakpoint-up(lg) { ... }
// @include media-breakpoint-up(xl) { ... }