<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link type="text/css" rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="{{site.baseurl}}/styles.css">
    <title>tasha simone portfolio</title>
  </head>
  <body>
    <nav>
      <a href="/interactive.html"><span class="nav-item">interactive design</span></a>
      <a href="/graphic.html"><span class="nav-item">graphic design</span></a>
      <a href="/index.html"><span class="nav-item">all work</span></a>
      <a href="/about.html"><span class="nav-item">about</span></a>
      <a href="/contact.html"><span class="nav-item">contact</span></a>
    </nav>
