<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link type="text/css" rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="{{site.baseurl}}/styles.css">
    <title>tasha simone portfolio</title>
  </head>
  <body>
    <nav class="row justify-content-center align-items-center">
      <!-- <a href="{{site.baseurl}}/"><span class="nav-item">all work</span></a> -->
      <a href="{{site.baseurl}}/interactive"><span class="nav-item">interactive design</span></a>
      <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/tdrop-logo.svg" class="logo" alt="tasha simone logo"></a>
      <a href="{{site.baseurl}}/graphic"><span class="nav-item">graphic design</span></a>
      <!-- <a href="{{site.baseurl}}/about"><span class="nav-item">about</span></a> -->
      <!-- <a href="{{site.baseurl}}/contact"><span class="nav-item">contact</span></a> -->
    </nav>
