{% include header.html %}

<div class="row">

    {% for category in site.categories %}

    {% if category[0] == page.type %}
    {% for post in category[1] %}
    <div class="card bg-dark text-white card-img-cont">
        <img class="card-img"
             src="{{site.baseurl}}{{post.img}}"
             alt="Card image cap">
        <div class="card-img-overlay  {{post.color}}">
            <h4 class="card-title">{{post.title}}</h4>
            <p class="card-text">{{post.preview}}</p>
            <a href="{{site.baseurl}}{{post.url}}"
               class="btn btn-primary btn-lg">read post</a>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    {% endfor %}
</div>

{% include footer.html %}