{% include header.html %}

<div class="row">
    <div class="col-md-9">
        <div class="row">
            {% for post in site.posts %}
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{post.img}}" alt="Card image cap" width="150">
                <div class="card-body">
                    <h5 class="card-title">{{post.title}}</h5>
                    <p class="card-text">{{post.preview}}</p>
                    <a href="{{post.url}}" class="btn btn-primary">read post</a>
                </div>
            </div>
          {% endfor %}
        </div>
    </div>
    <div class="col-md-3">
        {{page.content}}
    </div>
</div>



{% include footer.html %}