{% include header.html %}

<div class="jumbotron ">
    <h1>interactive web design</h1>
    <p>examples of my work</p>
    <form>
        <p>sign up for updates</p>
        <div class="form-control">
            <input type="text" placeholder="example@yourdomain.com"/>
        </div>
    </form>
</div>

<div class="row">
    <div class="col-md-9">
        <div class="row">
            {% for post in site.posts %}
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="http://placehold.it/100x50" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{post.title}}</h5>
                    <p class="card-text">{{post.preview}}</p>
                    <a href="{{post.url}}" class="btn btn-primary">read post</a>
                </div>
            </div>
          {% endfor}
        </div>
    </div>
    <div class="col-md-3">
        {{content}}
        <h3>testing content</h3>
    </div>
</div>



{% include footer.html %}