{% include header.html %}

<div class="row">
    <div class="col-md-9">
        <div class="row home-cards">
            {% for post in site.posts %}
            <div class="card bg-dark text-white card-img-cont">
                <img
                     src="{{site.baseurl}}{{post.img}}"
                     alt="Card image cap">
                <div class="card-img-overlay {{post.color}}">
                    <h4 class="card-title">{{post.title}}</h4>
                    <p class="card-text">{{post.preview}}</p>
                    <a href="{{site.baseurl}}{{post.url}}"
                       class="btn btn-primary btn-lg">read post</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-3">
        {{content}}
    </div>
</div>



{% include footer.html %}